[core]
	autocrlf = false
	excludesfile = '.gitignore'
	pager = delta
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = auto
[color "branch"]
	current = yellow black
	local = yellow
	remote = magenta
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red reverse
	new = green reverse
[color "status"]
	added = yellow
	changed = green
	untracked = cyan reverse
	branch = magenta
[alias]
	tree = log --graph --all --abbrev-commit --date=relative --pretty=format:"%C(red)%h%C(green)%d\\ %C(cyan)<%an>\\ %C(reset)%s"
	tree2 = log --pretty=format:"%C(red)%h%C(yellow)%d\\ %Creset%s\\ %C(cyan)[%cn]" --graph --all --abbrev-commit --date=relative
	sdiff = !git difftool --tool=vimdiff# --dir-diff
	vmerge = !git mergetool --tool=vimdiff
[diff]
	algorithm = histogram
[interactive]
	diffFilter = delta --color-only
[merge]
	ff = false
	conflictstyle = zdiff3
[rebase]
	autostash = true
